body{
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.form-control {
    height: 30px;
    color: black;
  }
  
  @media (max-width: 457px) {
    .images-shoes div.thumbnail {
        width: calc(100% / 3);
    }
  }
  
  @media (max-width: 300px) {
    .images-shoes div.thumbnail {
        width: calc(100% / 5);
    }
  }
  
  footer {
    color: black;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 253, 204));
    background-color: #eeeef4;
    border-top: 1px solid black;
    /* color: #fff;   */
  }
  
  div.thumbnail {
    /*margin: 5px;*/
    border: 1px solid #ccc;
    float: left;
    width: calc(100% / 2);
  }
  
  div.thumbnail:hover {
    border: 1px solid #777;
  }
  
  div.thumbnail img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  h3{
    color: red;
  }
  div.container,
  #resetpassword{
    min-height: 593px;
  }
  .zoom:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}