body{
    background-image: url('../images/2.jpg');
    background-color: black ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar-brand{
    text-shadow: 0px 0px 13px #947CF1;, 0 0 25px blue, 0 0 5px darkblue;
}